再ログインページの確認

%main.single-main
  .identification
    .identification__form
      %h6.identification__form__note.bold
        あなたの情報を守るために
        %br
        再度ログインを行ってください。
      = link_to "facebook-login", url: 'https://www.facebook.com', class: 'btn-default btn-sns btn-sns-facebook' do
        Facebookでログインする
        = fa_icon("facebook-official")
      = link_to "google-login", url: 'https://accounts.google.com', class: 'btn-default btn-sns btn-sns-google' do
        Googleでログインする
    =form_for @user, url:{controller: :identifications, action: :index} do |f|
      .identification__form
        .identification__form__content
          =f.email_field :email, class: 'identification__form__content__input', value: 'xxxx@google.com', placeholder: 'メールアドレス'
        .identification__form__content
          =f.password_field :password, class: 'identification__form__content__input', placeholder: 'パスワード'
        .identification__form__content
          .g-recaptcha{data: { sitekey: "6LfZGCYTAAAAAHoK-s7Lg5OdYg5Fq4susvALmZoc"}}
            .g-recaptcha__container{style: 'width: 304px; height: 78px;'}
              %div
                %iframe{src: "https://www.google.com/recaptcha/api2/anchor?ar=2&k=6LfZGCYTAAAAAHoK-s7Lg5OdYg5Fq4susvALmZoc&co=aHR0cHM6Ly93d3cubWVyY2FyaS5jb206NDQz&hl=ja&v=v1554100419869&size=normal&cb=fieqsllt227",  width: '304', height: '78', role: 'presentation', scrolling: 'no'}
        = f.submit "ログイン", class: 'identification__form__submit btn-default btn--red'
        =link_to root_path do
          パスワードをお忘れの方
