.container-buy{
  .buy{
    width: 700px;
    margin: 0 auto;
    background: white;
    &__heading{
      padding: 32px 16px;
      font-size: 22px;
      text-align: center;
      font-weight: 600;
    }
    &__item{
      text-align: center;
      padding: 24px 12.5%;
      border-top: 1px solid #f5f5f5;
      &-inner{
        text-align: center;
        max-width: 320px;
        margin: 0 auto;
      .buy__item--image{
          text-align: center;
        img{
          width: 148px;
          height: 148px;
          background: silver;
          margin: 0 auto;
          vertical-align: middle;
          opacity: 0.5;
          object-fit: contain;
        }
      }
      .buy__item--name{
        margin: 8px 0 0;
        font-size: 16px;
        font-weight: 600;
      }
      .buy__item--form{
        &-price{
          font-size: 28px;
          font-weight: 600;
          line-height: 1.5;
          span{
            display: inline;
            font-size: 14px;
            font-weight: 400;
            margin-left: 8px;
          }
        }
        &-accordion{
          margin: 16px 0 0;
          padding: 16px;
          background: #CCC;
          font-size: 14px;
          line-height: 14px;
          border: 1px solid #ccc;
        }
        &-pay{
          display: flex;
          justify-content: space-between;
          &-header{
            text-align: left;
            padding: 16px 0;
            font-size: 28px;
            font-weight: 600;
          }
          &-price{
            text-align: right;
            padding: 16px 0;
            font-size: 28px;
            font-weight: 600;
          }
        }
        &-error{
          color: #EA352D;
          font-size: 14px;
          margin: 8px 0 0;
          line-height: 1.5;
        }
        &-submit{
          margin: 16px 0 0;
          background: #888;
          color: #ffffff;
          width: 100%;
          font: 400 11px system-ui;
          font-size: 14px;
          font-weight: 600;
          text-align: center;
          line-height: 48px;
          border: 1px solid #888;
        }
      }
      }
    }
    &__user-info{
      font-size: 14px;
      padding: 24px 12.5% 0;
      margin: 40px 0 0;
      border-top: 1px solid #f5f5f5;

      &-inner{
        max-width: 320px;
        margin: 0 auto;
        .buy__user-info--header{
          font-size: 14px;
        }
        .buy__user-info--text{
          margin: 8px 0 0;
          font-size: 14px;
          display: block;
          word-wrap: break-word;
        }
        .buy__user-info--fix{
          text-align: right;
          color: #0099E8;
          display: block;
          text-decoration: none;
        }
      }
    }
    &__user-info{
      font-size: 14px;
      padding: 40px 12.5%;
      margin: 40px 0 0;
      border-top: 1px solid #f5f5f5;
      &-inner{
        max-width: 320px;
        margin: 0 auto;
        .buy__user-info--header{
          font-size: 14px;
          font-weight: 600;
        }
        .buy__user-info--text{
          margin: 8px 0 0;
          font-size: 14px;
          display: block;
          word-wrap: break-word;
        }
        .buy__user-info--fix{
          text-align: right;
          color: #0099E8;
          display: block;
          text-decoration: none;
          span{
            color: #0099E8;
            font-size: 14px;
          }
          i{
            margin: 0 0 0 8px;
          }
        }
      }
    }
  }
}
