.item-box{
  width: 700px;
  margin: 40px auto 0;
  padding: 24px 40px 40px;
  background: #fff;
  &__header{
    font-size: 24px;
    text-align: center;
    line-height: 1.4;
    word-wrap: break-word;
    font-weight: bold;
  }
  &__main{
    margin: 16px 0 0;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    &--image{
      width: 300px;
      min-height: 375px;
      background: whitesmoke;
      .main-photo{
        width: 300px;
        .main-photo__lists{
          position: relative;
          .main-photo__list{
            width: 300px;
            height: 300px;
            float: left;
            background: gainsboro;
            opacity: 0;
            img{
              object-fit: contain;
            }
          }
          .main-photo__list.active{
            opacity: 1;
          }
        }
      }
      .sub-photo{
        width: 300px;
        min-height: 75px;
        max-height: 120px;
        display: flex;
        flex-wrap: wrap;
        &__list{
          min-height: 60px;
          max-height: 75px;
          background: lightblue;
          opacity: 0.5;
          img{
            object-fit: contain;
          }
        }
        &__list.active{
          opacity: 1;
        }
      }
    }
    table{
      border-collapse: collapse;
      border-spacing: 0;
    }
    &--table{
      max-width: 300px;
      min-height: 375px;
      height: 100%;
      font-size: 14px;
      width: 100%;
      border: 1px solid #f5f5f5;
      tbody{
        display: table-row-group;
        vertical-align: middle;
        tr{
          display: row-table;
          th{
            display: table-cell;
            width: 39%;
            background: #fafafa;
            font-weight: 400;
            padding: 8px;
            text-align: left;
            border: 1px solid rgb(245, 245, 245);
          }
          td{
            display: table-cell;
            padding: 8px;
            border: 1px solid rgb(245, 245, 245);
            .item-box__main--table-user_name{
              color: #0099E8;
              text-decoration: none;
            }
            .item-box__main--table-icon{
              display: flex;
              .good-icon{
                display: flex;
                margin: 8px 0 0 0;
                img{
                  color: blue;
                  line-height: 1;
                  height: 16px;
                  width: 16px;
                }
                .good-icon__count{
                  margin-left: 2px;
                }
              }
              .normal-icon{
                display: flex;
                margin: 8px 0 0 16px;
                img{
                  color: red;
                  line-height: 1;
                  height: 16px;
                  width: 16px;
                }
                .normal-icon__count{
                  margin-left: 2px;
                }
              }
              .bad-icon{
                display: flex;
                margin: 8px 0 0 16px;
                img{
                  color: red;
                  line-height: 1;
                  height: 16px;
                  width: 16px;
                }
                .bad-icon__count{
                  margin-left: 2px;
                }
              }
            }
          }
        }
      }
    }
  }
  &__price{
    margin: 24px 0 0;
    font-size: 14px;
    text-align: center;
    &--item_price{
      font-size: 50px;
      margin-right: 16px;
    }
    &--item_tax{
      font-size: 10px;
    }
    &--item_shipping_fee{
      font-size: 16px;
    }
  }
  &__buy-btn{
    display: block;
    height: 60px;
    margin-top: 20px;
    line-height: 60px;
    color: #FFFFFF;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    &.red{
      background: #ea352d;
      cursor: pointer;
    }
    &.gray{
      background: gray;
      cursor: not-allowed;
    }
  }
  &__delete{
    display: block;
    height: 60px;
    margin-top: 20px;
    line-height: 60px;
    color: #FFFFFF;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    background: gray;
  }
  &__item-description{
    margin: 32px 0 0;
    font-size: 18px;
    line-height: 1.5;
  }
  &__item-button{
    margin: 16px 0 0;
    display: flex;
    justify-content: space-between;
    &--left{
      display: flex;
      &_like{
        color: #333333;
        background: #F5F5F5;
        padding: 8px 16px;
        border-radius: 40px;
        text-decoration: none;
        i{
          color: #ccc;
        }
        .item-like{
          margin: 1px 0 0 8px;
          font-size: 14px;
        }
        .like-count{
          margin: 1px 0 0 8px;
          font-size: 14px;
        }
      }
      &_report{
        color: #333333;
        background: #F5F5F5;
        padding: 8px 16px;
        border-radius: 40px;
        margin: 0 0 0 16px;
        text-decoration: none;
        span{
          margin: 1px 0 0 8px;
          font-size: 14px;
        }
      }
    }
    &--right{
      color: #0099E8;
      margin: 8px 0 0;
      text-decoration: none;
      cursor: pointer;
    }
  }
}

.item-message{
  width: 700px;
  margin: 8px auto;
  &__content{
    padding: 24px;
    background: #FFFFFF;
    ul{
      list-style: none;
    }
    .clearfix:after{
      content: '';
      display: block;
      clear: both;
    }
    &--lists li:first-child{
      margin: 1.5em 0 0;
    }
    &--lists li{
      margin: 60px 0 0;
      .message-user{
        position: relative;
        top: -20px;
        display: inline-block;
        color: #333333;
        figure{
          margin: 0 0 0 0;
          border-radius: 50%;
          display: inline-block;
          width: 40px;
          height: 40px;
          .image{
            float: left;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            overflow: hidden;
            display: inline-block;
            img{
              height: 100%;
              width: 100%;
              vertical-align: middle;
              background: #AAAAAA;
            }
          }
          figcaption{
            width: 600px;
            min-width: 600px;
            position: absolute;
            left: 56px;
            text: 0px;
            height: 1.2em;
          }
        }
      }
        .message-body{
          float: right;
          margin: 5px 0 0;
          width: 600px;
          padding: 16px;
          background: #eef0f4;
          word-break: break-all;
          line-height: 1.5;
          border-radius: 15px;
          &__icon{
            margin: 8px 0 0;
            display: flex;
            justify-content: space-between;
            &-left{
              color: #AAAAAA;
              span{
                font-size: 14px;
                color: #AAAAAA;
              }
            }
            &-right{
              color: #AAAAAA;
            }
          }
        }
    }
    form{
      p{
        padding: 8px;
        background: #fff6de;
        font-size: 14px;
        color: #333333;
      }
      textarea{
        margin: 8px 0 0;
        display: block;
        width: 100%;
        max-width: 100%;
        min-height: 104px;
        padding: 10px;
        border: 1px solid #ccc;
        font-size: 16px;
        line-height: 1.5;
      }
      button{
        margin: 8px 0 0;
        display: block;
        background: #aaa;
        color: #fff;
        border: 1px solid #aaa;
        width: 100%;
        line-height: 48px;
        font-size: 14px;
        cursor: pointer;
      }
    }
  }
}

.item-link{
  width: 700px;
  margin: 24px auto 0;
  display: flex;
  justify-content: space-between;
  a{
    text-decoration: none;
  }
  &__prev{
    color: #0099E8;
    &-item{
    display: inline;
    }
    i{
    font-weight: 600;
    }
  }
  &__next{
    color: #0099E8;
    &-item{
    display: inline;
    }
    i{
      font-weight:      600;
    }
  }
}

.item-social-media-box{
  margin: 24px auto 0;
  padding: 32px 0 24px;
  width: 700px;
  background: #FFFFFF;
  &__list{
    margin: 16px 0 0;
    display: flex;
    justify-content: center;
    &-facebook{
      display: inline-block;
      height: 44px;
      width: 44px;
      margin: 0 8px 8px 0;
      i{
      height: 44px;
      width: 44px;
      font-size: 44px;
      color: #3B5998;
    }
    }
    &-twitter{
      display: inline-block;
      height: 44px;
      width: 44px;
      margin: 0 8px 8px 0;
      i{
      height: 44px;
      width: 44px;
      font-size: 44px;
      color: #1DA1F2;
      }
    }
    &-pinterest{
      display: inline-block;
      height: 44px;
      width: 44px;
      margin: 0 0 8px 0;
      i{
      height: 44px;
      width: 44px;
      font-size: 44px;
      color: #BD081C;
      }
    }
  }
}

.items-in-user-profile{
  width: 700px;
  margin: 0 auto;
  &__body{
    &-header{
      margin: 24px 0 8px;
      font-size: 24px;
      color: #0099E8;
    }
    &-boxs{
      display: flex;
      width: 700px;
      flex-wrap: wrap;
    .items-in-user-profile__body-box:nth-child(3n+1){
      margin: 0 0 20px 0;
    }
    .items-in-user-profile__body-box{
      margin: 0 0 20px 20px;
      width: 220px;
      display: block;
      text-decoration: none;
      &--image{
        height: 220px;
        width: 220px;
        background: gainsboro;
      }
      &--text{
        background: #FFFFFF;
        color: #333333;
        padding: 16px;
        height: 110px;
        &_header{
          font-size: 16px;
          overflow: hidden;
          height: 3em;
        }
        &_info{
          display: flex;
          justify-content: space-between;
          &-price{
            font-size: 20px;
          }
          &-icon{
            &-heart{
              margin: 0 4px 0 0;
              color: #ccc;
            }
            &-count{
              font-size: 16px;
              margin: 1px 0 0;
            }
          }
        }
        &_tax{
          font-size: 10px;
        }
      }
    }
  }
  }
}
