// .clearfix:after {
// content: '';
// display: block;
// clear: both;
// }

  .text-style {
    color: #0099e8;
    text-decoration: none;
  }

.l-container {
  width: 1020px;
  margin: 40px auto 0;
  padding: 0 0 40px;
  .identification {
    float:right;
    width: 700px;
    &__content:first-child {
      margin: 0
    }
    &__content {
      background: #fff;
      &__head {
        font-size: 24px;
        padding: 8px 24px;
        border-bottom: 1px solid #f5f5f5;
        text-align: center;
      }
    p {
    margin: 8px 0 0;
    line-height: 1.5;
    }

      &__form {
        padding: 64px;
        border-top: 1px solid #f5f5f5;
        &__note {
          text-align: right;
        }
        &__block {
          margin: 40px 0 0;
          &__label {
            font-weight: 600;
          }
          &__any {
            background: #ccc;
            margin: 0 0 0 8px;
            padding: 2px 4px;
            border-radius: 2px;
            color: #fff;
            font-size: 12px;
            vertical-align: top;
          }
          &__select {
            margin: 8px 0 0;
            position: relative;
           background: #fff;
            .fa-chevron-down {
              position: absolute;
              right: 16px;
              top: 50%;
              z-index: 2;
              color: #888;
              font-size: 16px;
              transform: translate(0, -50%);
           }
          }
          select {
            -webkit-appearance:none;
            appearance: none;
          }
          &__input {
            width: 100%;
            margin: 8px 0 0;
            height: 48px;
            padding: 10px 16px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: #fff;
            line-height: 1.5;
            font-size: 16px;
          }
          .btn-default {
            width: 100%;
            line-height: 48px;
            font-size: 14px;
            transition: all ease-out .3s;
            cursor: pointer;
            text-align: center;
          }
          .btn-red {
            margin: 16px 0 0;
            background: #ea352d;
            border: 1px solid #ea352d;
            color: #fff;
          }
        }
      }
    }
  }
}


