* {
  font-family: "Source Sans Pro", "Helvetica", "Arial", "游ゴシック体", "YuGothic", "メイリオ";
  box-sizing: border-box;
}

a {
  display: block;
  text-decoration: none;
  color: #333;
}

figure {
  margin: 0;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.hover-blue:hover {
  color: $light-blue;
}

.none {
  display: none;
}

.category-active {
  background-color: $red;
  color: white;
}

.list-arrow-hover {
  color: black !important;
  padding-right: 5px !important;
  transition: 0.3s;
}

header {
  background-color: white;
  padding-top: 8px;
  .container {
    width: 1020px;
    margin: 0 auto;
    .header-logo {
      width: 134px;
      height: 36px;
      float: left;
    }
    .input-search {
      position: relative;
    }
    .input-search input {
      min-width: 870px;
      padding: 8px 15px 7px 8px;
      background-color: #FAFAFA;
      border: 1px solid #CCC;
      border-radius: 3px;
      float: right;
      font-size: 16px;
      line-height: 20px;
      color: #333;
      font-weight: 400;
    }
    .fa-search {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 14px;
      cursor: pointer;
    }
  }
  .nav {
    padding-top: 8px;
    a {
      font-size: 14px;
      font-weight: 400;
    }
    li {
      float: left;
    }
    &__left {
      float: left;
      .menu>li {
        height: 38px;
        line-height: 32px;
      }
      .menu {
        #search-category {
          position: relative;
          &:hover {
            >ul {
              width: 224px;
              display: block;
              z-index: 99;
              >li:hover {
                background-color: $red;
              }
            }
          }
          >a {
            padding-right: 16px;
          }
          .menu__first {
            display: none;
            background-color: white;
            position: absolute;
            top: 38px;
            li {
              border-right: 1px solid #F5F5F5;
              width: 100%;
            }
            a {
              height: 44px;
              line-height: 44px;
              padding: 0 16px;
            }
            &--element {
              &:hover {
                >ul {
                  display: block;
                  z-index: 99;
                  >li:hover {
                    background-color: rgb(230, 230, 230);
                  }
                }
              }
              >a:hover {
                color: white;
                background-color: $red;
              }
              .menu__second {
                display: none;
                background-color: white;
                height: 660px;
                width: 224px;
                position: absolute;
                top: 0;
                left: 224px;
                li {
                  a:hover {
                    background-color: rgb(230, 230, 230);
                  }
                }
                &--element {
                  border-right: 1px solid #F5F5F5;
                  width: 100%;
                  &:hover {
                    >ul {
                      display: block;
                      z-index: 99;
                    }
                  }
                  a {
                    height: 30px;
                    line-height: 30px;
                    padding: 0 15px;
                  }
                  .menu__third {
                    display: none;
                    background-color: white;
                    height: 660px;
                    width: 320px;
                    position: absolute;
                    top: 0;
                    left: 224px;
                    li {
                      width: 100%;
                      a {
                        height: 30px;
                        line-height: 30px;
                        padding: 0 15px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
        #search-brand {
          position: relative;
          &:hover {
            >ul {
              display: block;
              z-index: 99;
            }
          }
          #brand-list {
            background-color: white;
            width: 224px;
            position: absolute;
            top: 38px;
            left: -15px;
            li {
              width: 100%;
              a {
                height: 44px;
                line-height: 44px;
                padding: 0 16px;
              }
            }
            a:hover {
              background-color: $red;
              color: white;
            }
          }
        }
      }
    }
    &__right {
      float: right;
      &--element {
        margin-left: 16px;
        position: relative;
        >i, >img, >a {
          float: left;
        }
        >i {
          margin-top: 7px;
        }
        >a {
          margin-left: 10px;
          height: 38px;
          line-height: 32px;
        }
        .mypage-photo {
          border-radius: 50%;
        }
        .user-show {
          width: 320px;
          position: absolute;
          top: 38px;
          background-color: white;
          .user-header {
            height: 75px;
            background-image: image-url("header/user-bg.jpg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            position: relative;
            img {
              position: absolute;
              top: 25px;
              left: 130px;
              border-radius: 50%;
            }
          }
          .mypage {
            text-align: center;
            p {
              padding: 25px 0 10px 0;
              color: #333
            }
            >a {
              display: inline;
              &:hover {
                opacity: 0.8;
                text-decoration: underline;
              }
            }
            .mypage-inner {
              width: 300px;
              margin: 0 auto;
              .benefit-price {
                border: 1px solid #eee;
                background-color: #fafafa;
                height: 76px;
                margin: 10px 0 15px 0;
                li:first-child {
                  a {
                    border-bottom: 1px solid #eee;
                  }
                }
                >li {
                  >a {
                    width: 300px;
                    padding: 0 10px;
                    height: 38px;
                    line-height: 32px;
                    &:hover {
                      opacity: 0.6;
                    }
                  }
                  .benefit-left {
                    float: left;
                  }
                  .benefit-right {
                    float: right;
                    i {
                      color: $light-blue;
                      padding-left: 5px;
                    }
                  }
                }
              }
            }
            .mypage-lists {
              a {
                height: 50px;
                line-height: 30px;
                width: 320px;
                padding: 10px 10px;
                border-top: 1px solid #eee;
                &:hover {
                  background-color: #fafafa;
                }
                .mypage-left {
                  float: left;
                  padding-left: 5px;
                }
                .mypage-right {
                  float: right;
                  i {
                    color: $light-blue;
                    padding-right: 10px;
                    font-size: 25px;
                    transition: 0.3s;
                  }
                }
              }
            }
          }
        }
        .news-lists {
          width: 320px;
          position: absolute;
          top: 38px;
          left: -130px;
          background-color: white;
          a {
            width: 320px;
            min-height: 80px;
            padding: 16px;
            border-top: 1px solid #eee;
            &:hover {
              background-color: #FAFAFA;
            }
          }
          li {
            position: relative;
            .news-left {
              float: left;
              img {
                height: 50px;
                width: 50px;
              }
            }
            .news-middle {
              float: left;
              width: 186px;
              line-height: 25px;
              margin: 0 16px;
              i, time {
                color: rgb(160, 160, 160);
              }
            }
            .news-right {
              float: left;
              position: absolute;
              top: 40%;
              right: 16px;
              i {
                font-size: 20px;
              }
            }
          }
        }
        .to-do {
          background-color: white;
          background-image: image-url("header/logo-gray-icon.svg");
          background-repeat: no-repeat;
          background-size: 25%;
          background-position: 50% 20%;
          width: 320px;
          height: 220px;
          text-align: center;
          position: absolute;
          top: 38px;
          left: -190px;
          p {
            color: rgb(195, 195, 195);
            font-weight: bold;
            padding-top: 160px;
          }
        }
      }
      &--element:hover {
        color: $light-blue;
      }
      &--element:hover>.none {
        display: block;
        z-index: 99;
      }
    }
  }
}

main {
  background-color: #F5F5F5;
  .images-part {
    position: relative;
    width: 1440px;
    margin: 0 auto;
    .slider {
      &__background {
        background-image: image-url("slide-image/slide-image-background.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        .image-container {
          width: 860px;
          margin: 0 auto;
          position: relative;
          >img {
            position: absolute;
            top: 0;
            right: 0;
            height: 390px;
          }
          .top-app-download {
            height: 390px;
            h2 {
              padding-top: 50px;
              font-size: 60px;
              line-height: 72px;
              font-weight: 700;
            }
            p {
              padding: 20px 0;
              font-size: 18px;
              line-height: 32px;
              font-weight: 400;
            }
            .app-img-part {
              width: 350px;
              a {
                float: right;
                &:first-child {
                  float: left;
                }
              }
            }
          }
        }
      }
      .arrow {
        font-size: 80px;
        opacity: 0.9;
        color: white;
        cursor: pointer;
      }
      .arrow-left {
        z-index: 10;
        position: absolute;
        top: 157px;
        left: 50px;
      }
      .arrow-right {
        position: absolute;
        top: 147px;
        right: 50px;
      }
      .slick-dots {
        position: absolute !important;
        bottom: 20px !important;
        li {
          font-size: 20px !important;
          button:before {
            content: "●" !important;
            font-size: 14px !important;
            color: rgb(60, 60, 60) !important;
          }
        }
      }
    }
  }
  .pickup-part {
    padding: 10px 0 40px 0;
    h2 {
      text-align: center;
      font-size: 28px;
      line-height: 39px;
      color: #333;
      font-weight: 700;
      margin-top: 25px;
    }
    .inner {
      width: 940px;
      margin: 0 auto;
      .products-container {
        margin: 60px 0;
        &:first-child {
          margin: 30px 0;
        }
        h3 {
          margin-bottom: 40px;
          a {
            color: $light-blue;
            text-align: center;
            font-size: 22px;
            line-height: 22px;
            font-weight: 700;
            &:hover {
              text-decoration: underline;
              opacity: 0.7;
            }
          }
        }
        .to-all-products {
          text-align: right;
          margin: 20px 28px 0 0;
          font-size: 14px;
          line-height: 14px;
          font-weight: 400;
          color: $light-blue;
          &:hover {
            text-decoration: underline;
            opacity: 0.7;
          }
        }
        .flexbox {
          display: flex;
          justify-content: space-between;
          height: 330px;
          width: 912px;
          .product {
            width: 213px;
            height: 300px;
            &__image {
              margin: 0;
              height: 220px;
            }
            &__detail {
              padding: 16px;
              background-color: white;
              h4 {
                font-size: 16px;
                line-height: 24px;
                color: #333;
                font-weight: 400;
              }
              &--items {
                .price-part {
                  float: left;
                  font-size: 20px;
                  line-height: 20px;
                  color: #333;
                  font-weight: 600;
                }
                .likes-part {
                  float: right;
                  span {
                    font-size: 16px;
                    line-height: 16px;
                    color: #333;
                    font-weight: 400;
                  }
                  .fa-heart {
                    color: #CCC;
                  }
                }
                .tax-part {
                  clear: both;
                  font-size: 10px;
                  line-height: 10px;
                  font-weight: 400;
                  color: #333;
                }
              }
            }
          }
        }
      }
    }
  }
}
footer {
  background-color: #212121;
  padding-bottom: 60px;
  .app-download {
    background-image: image-url("footer/app-download-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &__container {
      width: 750px;
      margin: 0 auto;
      &--left {
        float: left;
        p {
          font-size: 30px;
          line-height: 35px;
          font-weight: 400;
          color: white;
          &:first-child {
            font-size: 24px;
            line-height: 34px;
            font-weight: 700;
            color: white;
            margin: 50px 0 10px;
          }
        }
        .app-images {
          margin-top: 20px;
          img, a {
            float: left;
          }
        }
      }
      &--right {
        float: right;
        img {
          width: 300px;
          height: 260px;
        }
      }
    }
  }
  .container {
    max-width: 1440px;
    margin: 0 auto;
  }
  .flexbox2 {
    width: 1020px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 50px 0 60px 0;
    .flexchild {
      text-align: center;
      width: 235px;
      img {
        width: 20px;
        height: 20px;
      }
      p {
        font-size: 16px;
        line-height: 22px;
        color: white;
        font-weight: 700;
        margin-bottom: 20px;
      }
      a {
        font-size: 14px;
        line-height: 14px;
        color: white;
        font-weight: 400;
        margin-bottom: 15px;
        &:hover {
          text-decoration: underline;
          opacity: 0.7;
        }
      }
      .foreign {
        opacity: 0.3;
      }
    }
  }
  .footer-icon {
    text-align: center;
    small {
      color: white;
    }
    img:hover {
      opacity: 0.7;
    }
  }
}

.post-products {
  text-align: center;
  background-color: $red;
  height: 160px;
  width: 160px;
  border-radius: 50%;
  color: white;
  position: fixed;
  bottom: 30px;
  right: 30px;
  p {
    font-size: 22px;
    margin-top: 32px;
  }
  i {
    margin-top: 10px;
    font-size: 60px;
  }
}
