.category-new
  %h2 カテゴリー登録画面〜CSV一括インポート〜
  = form_for :category, url: {controller: "categories", action: "import"}, html: {method: :post, multipart: true} do |f|
    = f.file_field :file
    = f.submit "一括インポート"
