= render partial: 'shared/header'
%main.l-container.clearfix
  .identification
    %section.identification__content
      %h2.identification__content__head.bold
        本人情報の登録
      =form_for @user, url:{controller: :identifications, action: :index}, html:{class: 'identification__content__form'} do |f|
        %div
          %p
            お客さまの本人情報をご登録ください。
            %br
            登録されたお名前・生年月日を変更する場合、本人確認書類の提出が必要になります。
          %p.identification__content__form__note
            =link_to root_path, class: 'text-style' do
              本人確認書類のアップロードについて
              %i.fa.fa-chevron-right
        .identification__content__form__block
          =f.label :name, class: 'identification__content__form__block__label' do
            お名前
          %p
            立売堀 柴島
        .identification__content__form__block
          =f.label :kana, class: 'identification__content__form__block__label' do
            お名前カナ
          %p
            イタチボリ クニジマ
        .identification__content__form__block
          =f.label :birthdata, class: 'identification__content__form__block__label' do
            生年月日
          %p
            1582/10/16

        .identification__content__form__block
          =f.label :postal_code, class: 'identification__content__form__block__label' do
            郵便番号
          %span.identification__content__form__block__any
            任意
          =f.text_field :postal_code, class: 'identification__content__form__block__input', placeholder: "例)1234567"

        .identification__content__form__block
          =f.label :prefecture, class: 'identification__content__form__block__label' do
            都道府県
          %span.identification__content__form__block__any
            任意
          .identification__content__form__block__select
            =f.select :prefecture, Prefecture.all.map{|p| p.name}, {}, {class: 'identification__content__form__block__input'}
            %i.fa.fa-chevron-down

        .identification__content__form__block
          =f.label :city, class: 'identification__content__form__block__label' do
            市区町村
          %span.identification__content__form__block__any
            任意
          =f.text_field :city, placeholder: "例)大阪市中央区",class: 'identification__content__form__block__input'
        .identification__content__form__block
          =f.label :city, class: 'identification__content__form__block__label' do
            番地
          %span.identification__content__form__block__any
            任意
          =f.text_field :block_number, placeholder: "例)大阪城1-1",class: 'identification__content__form__block__input'
        .identification__content__form__block
          =f.label :city, class: 'identification__content__form__block__label' do
            建物名
          %span.identification__content__form__block__any
            任意
          =f.text_field :block_number, placeholder: "例)大阪城",class: 'identification__content__form__block__input'
        .identification__content__form__block
          =f.submit "登録する", class: 'btn-default btn-red'
        .identification__content__form__block.identification__content__form__note
          %p
            =link_to root_path, class: 'text-style' do
              本人情報の登録について
              %i.fa.fa-chevron-right

  = render partial: 'mypages/side-bar'
= render partial: 'shared/footer'


